<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
  <sectionGroup name="pcaxis">
    <sectionGroup name="paxiom">
      <section name="localization" type="PCAxis.Paxiom.Configuration.Sections.LocalizationSection, PCAxis.Core, Version=1.1.0.0, Culture=neutral, PublicKeyToken=c0a818bde8f95c30" />
    </sectionGroup>
  </sectionGroup>

</configSections>




<pcaxis>
  <paxiom>
    <localization filespath="Languages/" basefile="pxlang" />
  </paxiom>
</pcaxis>

</configuration>